.achievements {
  list-style-type: square;
}

body {
  color: #345;
  background-color: #fdfdfd;
}

.row {
  padding: 2em;
}

img {
  max-width: 100%;
}

.header, .divider, .footer {
  background-color: #345;
  color: #fdfdfd;
}
.tree {
  padding: 1.5em;
  background: radial-gradient(ellipse at center, rgba(255, 255, 255, 1) 0%,
    rgba(215, 215, 215, .6) 60%, #123 100%);
  border: 2px solid #fdfdfd;
}

.profile {
  text-align: center;
  margin-bottom: 1em;
}
.profile img {
  border-radius: 50%;
}

.inset h4 {
  font-size: 1.25em;
}
.inset {
  font-size: .75em;
}

.inset li {
  margin-bottom: 0;
}

.project {
  border-bottom: 2px solid #345;
}
.project * {
  word-wrap: break-word;
}

.msgcontact {
  display: block;
  color: #cddaff;
  text-decoration: none;
  font-size: 1.3em;
  margin-bottom: 2em;
}

a.msgcontact:hover {
  text-decoration: underline;
}
